.Home {
  color: aliceblue;
}

.Home-header {
  height: 5vh;
  background-color: red;
}

.Home-content {
  display: flex;
}

.Home-left {
  width: 100px;
  /* flex-shrink: 0; */
  height: 95vh;
  background-color: rosybrown;
}

.Home-right {
  flex-grow: 1;
  height: 95vh;
  background-color: salmon;
}
